<div
  class="segmented"
  role="group"
  [attr.aria-label]="ariaLabel"
>
  <div
    class="segmented-bg"
    aria-hidden="true"
    [style.width]="bgStyle.width"
    [style.transform]="bgStyle.transform"
  ></div>
  <button
    *ngFor="let opt of options"
    type="button"
    class="segmented-btn"
    #segBtn
    (click)="onClick(opt.value)"
    [attr.aria-pressed]="active === opt.value"
    [class.is-active]="active === opt.value"
    [attr.aria-label]="opt.iconClass ? (opt.ariaLabel || opt.label) : null"
  >
    <ng-container *ngIf="opt.iconClass; else textLabel">
      <i [class]="opt.iconClass" aria-hidden="true"></i>
      <span class="sr-only">{{ opt.ariaLabel || opt.label }}</span>
    </ng-container>
    <ng-template #textLabel>{{ opt.label }}</ng-template>
  </button>
</div>
