.category-summary {
  margin-bottom: 20px;

  .category-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .progress-bar-container {
    display: flex;

    .progress-bar {
      background-color: #e0e0e0;
      border-radius: 5px;
      overflow: hidden;
      width: calc(100% - 30px);
      height: 25px;

      .progress-bar {
        background-color: #4caf50;
        height: 25px;
        line-height: 25px;
        color: white;
        text-align: center;
        border-radius: 5px;
      }
    }

    .progress-bar-delete {
      padding: 5px;
      padding-left: 15px;
    }
  }
}
