<div class="category-summary" *ngIf="isVisible">
  <div class="category-header">
    <span>
      <span
        class="app-link category-label"
        (click)="onCategoryLabelClick(category)"
        >{{ getCategoryNameByIdFunc(category) }}</span
      >
      <i class="fa-solid fa-list category-details-icon" (click)="onDetailsIconClick(category)"></i
    ></span>
    <span>{{ amount }}€</span>
  </div>
  <div class="progress-bar-container">
    <div class="progress-bar-delete" (click)="onHide()">X</div>
    <div class="progress-bar">
      <div
        class="progress-bar"
        [style.width.%]="percentage"
        [style.backgroundColor]="color"
      >
        {{ percentage.toFixed(2) }}%
      </div>
    </div>
  </div>
</div>
