<div class="date-filter-drop-down" (click)="onClick($event)">
  <button
    class="date-filter-drop-down-button date-filter-drop-down-button-suggestion"
    (click)="onSuggestionButtonClick()"
    *ngIf="_isHowSuggestionButton"
  >
    {{ suggestionButtonTitle }}
  </button>
  <button
    class="date-filter-drop-down-button"
    (click)="onDisplayValueClick()"
    [ngClass]="{ 'date-filter-drop-down-button-active': isActivated }"
  >
    {{ selectedOption?.display }}
  </button>
  <button
    class="date-filter-drop-down-button date-filter-drop-down-button-toggle"
    [ngClass]="{ 'date-filter-drop-down-button-active': isActivated }"
    (click)="toggleDropdown()"
  >
    v
  </button>
  <ul *ngIf="dropdownOpen" class="date-filter-drop-down-list">
    @for (option of options; track option.value) {
      <li
        (click)="onSelectValue(option)"
        [ngClass]="{
          'is-selected': selectedOption?.display === option?.display,
        }"
      >
        {{ option?.display }}
      </li>
    }
  </ul>
</div>
