.date-filter-drop-down {
  display: inline-block;
  position: relative;

  .date-filter-drop-down-button {
    margin: 0 1px;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
  }

  .date-filter-drop-down-button-toggle {
    font-weight: 600;
  }

  .date-filter-drop-down-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 10px 10px;
      cursor: pointer;
      border: 1px solid #e7e7e7;
    }
  }

  .date-filter-drop-down-button-active {
    background-color: #f8d7da;
    border: #f8d7da 1px solid;
  }
}
