<div class="date-filter-drop-down" (click)="onClick($event)">
  <button
    class="date-filter-drop-down-button"
    (click)="onDisplayValueClick()"
    [ngClass]="{ 'date-filter-drop-down-dropdown-active': isActivated }"
  >
    {{ selectedOption?.display }}
  </button>
  <button
    class="date-filter-drop-down-button date-filter-drop-down-button-toggle"
    [ngClass]="{ 'date-filter-drop-down-dropdown-active': isActivated }"
    (click)="toggleDropdown()"
  >
    v
  </button>
  <ul *ngIf="dropdownOpen" class="date-filter-drop-down-dropdown">
    @for(option of options; track option.value) {
    <li (click)="onSelectValue(option)" [style.background-color]="selectedOption?.display === option?.display ? '#ffe9eb' : 'white'">
      {{ option?.display }}
    </li>
    }
  </ul>
</div>
