.statistics-period {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  .statistics-refresh-button {
    font-size: 14px;
    padding: 10px;
    padding-left: 0px;
  }
}

