<div class="statistics-period">
  <app-date-filter-drop-down
    [options]="optionsForDaysSelect"
    [name]="Mode.DAY"
    [activatedName]="currentFilter?.value?.mode"
    [value]="currentFilter"
    [hideOptions]="clickedMode !== Mode.DAY"
    (select)="onDateSelect($event)"
    (toggleClick)="onDropdownToggleClick($event)"
  ></app-date-filter-drop-down>

  <app-date-filter-drop-down
    [options]="optionsForWeeksSelect"
    [name]="Mode.WEEK"
    [activatedName]="currentFilter?.value?.mode"
    [value]="currentFilter"
    [hideOptions]="clickedMode !== Mode.WEEK"
    (select)="onDateSelect($event)"
    (toggleClick)="onDropdownToggleClick($event)"
  ></app-date-filter-drop-down>

  <app-date-filter-drop-down
    [options]="optionsForMonthsSelect"
    [name]="Mode.MONTH"
    [activatedName]="currentFilter?.value?.mode"
    [value]="currentFilter"
    [hideOptions]="clickedMode !== Mode.MONTH"
    (select)="onDateSelect($event)"
    (toggleClick)="onDropdownToggleClick($event)"
  ></app-date-filter-drop-down>

  <app-date-filter-drop-down
    [options]="optionsForYearsSelect"
    [name]="Mode.YEAR"
    [activatedName]="currentFilter?.value?.mode"
    [value]="currentFilter"
    [hideOptions]="clickedMode !== Mode.YEAR"
    (select)="onDateSelect($event)"
    (toggleClick)="onDropdownToggleClick($event)"
  ></app-date-filter-drop-down>
  <i
    *ngIf="currentFilter?.display !== defaultLabel"
    (click)="onRefresh()"
    class="fas fa-redo-alt statistics-refresh-button"
  ></i>
</div>
