<div class="statistics-period">
  <app-date-filter-drop-down
    [options]="optionsForDaysSelect"
    [mode]="Mode.DAY"
    [activatedMode]="currentMode"
    (select)="onValueChange($event)"
    (active)="onDropdownActive($event)"
  ></app-date-filter-drop-down>

  <app-date-filter-drop-down
    [options]="optionsForWeeksSelect"
    [mode]="Mode.WEEK"
    [activatedMode]="currentMode"
    (select)="onValueChange($event)"
    (active)="onDropdownActive($event)"
  ></app-date-filter-drop-down>

  <app-date-filter-drop-down
    [options]="optionsForMonthsSelect"
    [mode]="Mode.MONTH"
    [activatedMode]="currentMode"
    (select)="onValueChange($event)"
    (active)="onDropdownActive($event)"
  ></app-date-filter-drop-down>
</div>
