<div class="statistics-period">
  <select (change)="selectChange($event, Mode.DAY)" class="statistics-period-button 'statistics-period-button-active'"
    [ngClass]="{'statistics-period-button-active': currentFrame.mode === Mode.DAY}"
  >
    @for(day of pastDays; track day.start) {
    <option>
      {{day.display}}
    </option>
    }
  </select>
  <select (change)="selectChange($event, Mode.WEEK)" class="statistics-period-button"
    [ngClass]="{'statistics-period-button-active': currentFrame.mode === Mode.WEEK}"
  >
    @for(week of pastWeeks; track week.start) {
    <option>
      {{week.display}}
    </option>
    }
  </select>
  <select (change)="selectChange($event, Mode.MONTH)" class="statistics-period-button"
    [ngClass]="{'statistics-period-button-active': currentFrame.mode === Mode.MONTH}"
  >
    @for(month of pastMonths; track month.start) {
    <option>
      {{month.display}}
    </option>
    }
  </select>
</div>