<div class="history-container">
  <span [style.color]="'blue'" [style.cursor]="'pointer'" [routerLink]="'/'"
    >< Back</span
  ><br />
  <div [style.margin.px]="'10'">
    <span>Общий расход: </span>
    <span [style.color]="'#ff6f61'">{{ totalAmount }}€</span>
  </div>
  <hr [style.background]="'#f8d7da'" [style.height]="'2px'" />
  <span *ngFor="let item of expenses; let i = index">
    <span
      [style.background]="'#f8d7da'"
      [style.width]="'100%'"
      [style.display]="'block'"
      *ngIf="item.showDateTitle"
      ><span>{{ item.date | date : "dd-MM-YYYY" }} - </span
      ><span [style.font-weight]="'600'"
        >{{ getTotalAmountPerDay(item.date) }}€</span
      ></span
    >
    <div class="history-item">
      <br />Цена:
      <span [style.color]="'#ff6f61'">{{ item.amount }}€</span>
      <br /><br />
      <div>
        Category:
        <span
          [style.color]="'blue'"
          (click)="showCategoryDetails(item.category)"
          >{{ getCategoryNameByIdFunc(item.category) }}</span
        >
      </div>
      Date: {{ item.date | date : "HH:mm" }} <br /><br />
      <span
        [style.color]="'grey'"
        [style.cursor]="'pointer'"
        (click)="onDelete(i)"
        >Delete</span
      >
      <span
        *ngIf="!item.isDeletedFromBalance && getCategoryByIdFunc(item.category).includeInBalance"
        [style.color]="'grey'"
        [style.cursor]="'pointer'"
        (click)="onDeleteFromBalance(i)"
      >
       | Delete from balance</span
      >
    </div>
    <hr [style.background]="'#f8d7da'" [style.height]="'2px'" />
  </span>
</div>
