<div class="history-container">
  <div class="history-nav">
    <span id="back" class="app-link history-back-link" [routerLink]="'/'"
      >< Home</span
    >
    <span
      id="stats"
      class="app-link history-stats-link"
      [routerLink]="'/statistics'"
      >Statistics ></span
    >
  </div>
  <div [style.marginLeft.px]="15" [style.marginRight.px]="15">
    <app-multi-filter
      [value]="defaultFilter"
      [totalAmount]="totalAmount"
      [defaultDateValue]="defaultDateValue"
      [showDetailsIcon]="true"
      [activeBucketCount]="activeBucketCount"
      [totalBucketCount]="totalBucketCount"
      [expenseEntryCount]="expenseEntryCount"
      (selectedFilters)="updateFilterAndLoadExpenses($event)"
      (navigateToStatisticsIconClick)="navigateToStatistics()"
    ></app-multi-filter>
  </div>
  <ng-container
    *ngIf="
      (expenses$ | async)?.length > 0 && (expenses$ | async);
      let expenses;
      else: elseBlock
    "
  >
    <app-history-item
      *ngFor="let item of expenses"
      [item]="item"
      [totalAmountPerDays]="getTotalAmountPerDay(item.date)"
      (editAmountIconClick)="changeAmount($event)"
      (filterByCategory)="filterByCategory($event)"
      (chartIconClick)="navigateToChart($event)"
      (editDescriptionIconClick)="changeDescription($event)"
      (deleteLabelClick)="onDelete($event)"
      (deleteFromBalanceLabelClick)="onDeleteFromBalance($event)"
    ></app-history-item
  ></ng-container>

  <ng-template #elseBlock>
    <div class="history-empty">
      <span>Для этих категорий и периода трат нет</span>
    </div>
  </ng-template>
</div>
