.scrollable-content {
    display: flex;
    height: calc(100% - 30px);
    width: 100%;
  }
  
  .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding: 10px;
    width: 100%;
    opacity: 0.7;
  }
  
  .category {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90px;
    height: 64px;
    padding: 15px;
    text-align: center;
    font-size: 15px;

  }
  
  .category i {
    font-size: 35px;
    margin-bottom: 5px;
  }

  .scrollable-content-down {
    align-self: flex-end;
  }

  .categories-more {
    text-align: center;
    color: grey;
    background-color: rgba(0, 0, 0, 0);
  }