<div class="categories-general-container">
  <div
    class="categories-container"
    [ngClass]="{
      'categories-with-scroll': isContentDown,
      'categories-with-show-more': showMore || isContentDown,
    }"
  >
    <div
      #categoriesEl
      class="categories"
      [ngClass]="{
        'categories-expanded': isContentDown,
      }"
    >
      <div
        *ngFor="let category of categories; let i = index; trackBy: trackByCategory"
        class="category"
        (click)="onCategoryClick(category.id)"
        [style.--cat-index]="i"
      >
        <i
          class="category-icon"
          [ngClass]="{ 'disabled-category-icon': !enteredAmount }"
          [style.color]="enteredAmount?.length > 0 ? category.color : ''"
          [class]="category.icon"
        ></i>
        <span
          class="category-name"
          [ngClass]="{
            'disabled-category-name':
              !enteredAmount || enteredAmount.length === 0,
          }"
          >{{ category.name }}</span
        >
      </div>
    </div>
  </div>
  <div
    class="categories-more"
    [style.padding.px]="isContentDown ? 15 : 0"
    [ngClass]="{
      'disabled-categories-more': !enteredAmount || enteredAmount.length === 0,
    }"
    *ngIf="showMore || isContentDown"
    (click)="onClickMore()"
  >
    <i *ngIf="isContentDown" class="fa-solid fa-chevron-up"></i>
    <i *ngIf="!isContentDown" class="fa-solid fa-chevron-down"></i>
  </div>
</div>
