<div
  class="expense-number-board-header"
  (swipeleft)="onDeleteClick()"
  (swiperight)="onDeleteClick()"
>
  <div class="expense-number-board-icons-left">
    <i
      *ngIf="!isLeftIconListVisible && !amount"
      (click)="changeVisibilityOfLeftIconList()"
      class="expense-number-board-expand-icons fa-solid fa-angle-right"
      aria-hidden="true"
    ></i>
    <i
      *ngIf="isLeftIconListVisible && !amount"
      (click)="changeVisibilityOfLeftIconList()"
      class="expense-number-board-expand-icons expense-number-board-collapes-icons fa-solid fa-angle-left"
      aria-hidden="true"
    ></i>
    <i
      *ngIf="isLeftIconListVisible && !amount"
      (click)="onBudgetInfoIconClick()"
      class="expense-hidden-icon expense-edit-budget-icon fas fa-circle-info"
      [class.animate-from-left]="animateIconsIn"
      aria-label="budget-info"
      role="button"
      tabindex="0"
    ></i>
    <span
      class="expense-edit-budget-separator"
      *ngIf="isLeftIconListVisible && !amount"
      >|</span
    >
    <i
      *ngIf="isLeftIconListVisible && !amount"
      class="expense-hidden-icon expense-edit-budget-icon fa-solid fa-receipt"
      aria-label="perion-budget"
      (click)="onPeriodSummaryIconClick()"
      role="button"
      tabindex="0"
      [class.animate-from-left]="animateIconsIn"
    ></i>
    <span
      class="expense-edit-budget-separator"
      *ngIf="isLeftIconListVisible && !amount"
      >|</span
    >
    <i
      *ngIf="isLeftIconListVisible && !amount"
      (click)="onCalendarIconClick()"
      class="expense-hidden-icon expense-edit-budget-icon fas fa-calendar-day"
      aria-label="open-calendar"
      role="button"
      tabindex="0"
      [class.animate-from-left]="animateIconsIn"
    ></i>

    <span
      class="expense-edit-budget-separator"
      *ngIf="isLeftIconListVisible && !amount"
      >|</span
    >

    <i
      *ngIf="isLeftIconListVisible && !amount"
      (click)="onBrNotificationIconClick()"
      class="expense-hidden-icon expense-edit-budget-icon fas fa-bell"
      aria-label="br-notification-icon"
      role="button"
      tabindex="0"
      [class.animate-from-left]="animateIconsIn"
    ></i>
    <span
      class="expense-edit-budget-separator"
      *ngIf="isLeftIconListVisible && !amount"
      >|</span
    >

    <i
      *ngIf="isLeftIconListVisible && !amount"
      class="expense-hidden-icon expense-number-board-open-edit-latest fas fa-clock-rotate-left"
      (click)="onOpenEditLatest($event)"
      aria-label="Edit latest expense"
      role="button"
      tabindex="0"
      [class.animate-from-left]="animateIconsIn"
    ></i>

    <span
      class="expense-edit-budget-separator"
      *ngIf="isLeftIconListVisible && !amount"
      >|</span
    >
    <i
      *ngIf="amount"
      class="expense-number-board-header-calc fas fa-calculator"
      (click)="onOpenCalculator()"
      aria-label="Open calculator"
      role="button"
      tabindex="0"
    ></i>
    <span class="expense-edit-budget-separator" *ngIf="amount">|</span>
    <i
      *ngIf="amount"
      class="expense-description-icon fa-regular fa-pen-to-square"
      (click)="onAddDescription()"
    ></i>
    <span class="expense-edit-budget-separator" *ngIf="amount">|</span>

    <i
      *ngIf="amount"
      class="expense-clear-icon fas fa-times"
      (click)="onClearAmount($event)"
      aria-label="Clear amount"
      role="button"
      tabindex="0"
    ></i>
  </div>
  <span
    *ngIf="!isLeftIconListVisible || amount"
    class="expense-number-board-input"
    [class.expense-number-board-input-active]="amount"
    (click)="onOpenCalculator()"
    (keydown.enter)="onOpenCalculator()"
    (keydown.space)="onOpenCalculator()"
    role="button"
    tabindex="0"
    aria-label="Expense amount"
  >
    {{ amount || 'введите расход' }}
  </span>
  <div class="expense-number-board-icons-right">
    <span
      *ngIf="!isLeftIconListVisible || amount"
      class="expense-number-board-currency"
      (click)="onCurrencyClick()"
      >{{ currencyCode }}</span
    >
  </div>
</div>
