<div class="details">
  <div class="details-nav">
    <span class="app-link details-home-link" [routerLink]="'/'"> < Home</span>
    <span class="app-link details-home-link" [routerLink]="'/'">Home ></span>
  </div>

  <div class="period-summaries" *ngIf="summaries$ | async as summaries">
    <ng-container *ngFor="let s of summaries; let i = index">
      <app-collapsed-panel
        [style.margin.px]="5"
        [title]="s.title"
        [collapsed]="collapsed[s.key]"
        (toggle)="onToggle(s.key)"
      >
        <div class="period-summary">
          <p *ngFor="let p of s.paragraphs" style="white-space:pre-line; margin:0 0 .75rem;">
            {{ p }}
          </p>
        </div>
      </app-collapsed-panel>
    </ng-container>
  </div>
</div>
