.details {
  height: 100dvh;
  margin: 8px 10px 28px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;

  .details-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
  }
  .details-home-link {
    font-weight: 400;
  }
}
