<div class="expense-container" [class.dimmed]="showCalculator">
  <app-expense-header
    [currentAmount]="currentAmount"
    [currentBalanceAmount]="currentBalanceAmount"
    [balanceDate]="balanceDate$ | async"
    [amountLoading]="isAmountsLoading"
    (menuIconClick)="navigateToExport()"
    (historyIconClick)="navigateToHistory()"
    (statisticsIconClick)="navigateToStatistics()"
    (periodBudgetClick)="onHeaderBudgetInfoClick()"
    (calendarOpen)="onOpenCalendar()"
  >
  </app-expense-header>

  <app-categories
    *ngIf="showNumberBoard; else categoriesWithScroll"
    [style.overflow]="'hidden'"
    (categoryClick)="onCategoryClick($event)"
    (clickMore)="!$event ? onShowNumberBoard() : onHideNumberBoard()"
    appSwipe
    (swipeDown)="onHideNumberBoard()"
    (swipeUp)="onShowNumberBoard()"
    (swipeLeft)="navigateToHistory()"
    (swipeRight)="navigateToStatistics()"
    [enteredAmount]="enteredAmount"
  >
  </app-categories>
  <ng-template #categoriesWithScroll>
    <app-categories
      *ngIf="!showNumberBoard"
      (categorySwipeRight)="navigateToStatistics()"
      (categorySwipeLeft)="navigateToHistory()"
      (clickMore)="!$event ? onShowNumberBoard() : onHideNumberBoard()"
      (categorySwipeUp)="onShowNumberBoard()"
      (categoryClick)="onCategoryClick($event)"
      [isContentDown]="true"
      [enteredAmount]="enteredAmount"
    >
    </app-categories>
  </ng-template>

  <app-expense-number-board
    *ngIf="showNumberBoard"
    [amount]="enteredAmount"
    [currency]="currency"
    [description]="description"
    (amountChange)="onAmountChange($event)"
    (currencyChange)="onCurrencyChange($event)"
    (descriptionChange)="onDescriptionChange($event)"
    (numberBoardSwipeDown)="onHideNumberBoard()"
    (numberBoardSwipeLeft)="navigateToHistory()"
    (numberBoardSwipeRight)="navigateToStatistics()"
    (openCalculator)="onOpenCalculator()"
    (latestExpenseUpdated)="onLatestExpenseUpdated($event)"
    (latestExpenseDeleted)="onLatestExpenseDeleted($event)"
    (zeroLongPress)="onHeaderBudgetInfoClick()"
    (decimalLongPress)="navigateToDetails()"
    (budgetInfoIconClick)="onHeaderBudgetInfoClick()"
    (periodSummaryIconClick)="navigateToDetails()"
    (brNotificationIconClick)="onSendBrowserNotification()"
    (calendarIconClick)="onOpenCalendar()"
    (addDescriptionRequest)="onOpenDescription()"
    (openEditLatestRequest)="onOpenEditLatest()"
  >
  </app-expense-number-board>
</div>

<app-description-edit-modal
  *ngIf="showDescriptionModal"
  [description]="description"
  (apply)="onDescriptionApply($event)"
  (cancel)="onDescriptionCancel()"
></app-description-edit-modal>

<app-expense-edit-modal
  *ngIf="showEditLatestModal"
  [isLoadLatestExpenses]="true"
  (apply)="onApplyEditLatest($event)"
  (cancel)="onCancelEditLatest()"
  (delete)="onDeleteLatest($event)"
></app-expense-edit-modal>

<app-calculator-modal
  *ngIf="showCalculator"
  [initialValue]="enteredAmount"
  (apply)="onCalculatorApply($event)"
  (cancel)="onCalculatorCancel()"
></app-calculator-modal>

<div class="calendar-overlay" *ngIf="showCalendar">
  <app-calendar
    [selectedDate]="calendarSelectedDate"
    (close)="onCloseCalendar()"
    (dateChange)="onCloseCalendar()"
    (navigateHistory)="navigateToHistory($event)"
    (navigateStatistics)="navigateToStatistics($event)"
  ></app-calendar>
</div>
