<div class="container">
  <div class="header-container">
    <div class="header">
      <div class="menu-icon" [routerLink]="'/export'">
        <i [style.color]="'#BDA4A7'" class="fas fa-bars"></i>
      </div>

      <!-- <div class="title" [style.color]="'grey'">-</div> -->
      <div class="title" (click)="onCurrentAmountClick()">
        <div *ngIf="isShowCurrentBalanceAmount" class="bottom-header-irregular">
          нерегул.
        </div>
        <span
          class="title-total title-total-current"
          *ngIf="!isShowCurrentBalanceAmount"
          >{{ currentAmount }}</span
        >
        <span class="title-total" *ngIf="isShowCurrentBalanceAmount">{{
          currentBalanceAmount
        }}</span>
        <span class="title-total" [style.margin-left]="'5px'">€</span>
      </div>
      <!-- <div class="title" [style.color]="'grey'">-</div> -->
      <div class="clock-icon" [routerLink]="'/history'">
        <i class="fas fa-clock" [style.color]="'#BDA4A7'"></i>
      </div>
    </div>
    <div class="bottom-header">
        <span class="bottom-header-balance" (click)="onBalanceChange()">{{ balance }}€</span>
        <span (click)="onBalanceDateChange()">до {{ balanceDate }}</span>
    </div>
  </div>
  <app-categories
    *ngIf="showKeyBoard; else categoriesWithScroll"
    [style.overflow]="'hidden'"
    (categoryClick)="onCategoryClick($event)"
    (clickMore)="onSwipeDown()"
    appSwipe
    (swipeDown)="onSwipeDown()"
    (swipeUp)="onShowKeyBoard()"
    (swipeLeft)="onSwipeLeft()"
    (swipeRight)="onSwipeRight()"
    [enteredAmount]="enteredAmount"
  >
  </app-categories>
  <ng-template #categoriesWithScroll>
    <app-categories
      *ngIf="!showKeyBoard"
      (categorySwipeRight)="onSwipeRight()"
      (categorySwipeLeft)="onSwipeLeft()"
      (categorySwipeUp)="onShowKeyBoard()"
      (categoryClick)="onCategoryClick($event)"
      [isContentDown]="true"
      [enteredAmount]="enteredAmount"
    >
    </app-categories>
  </ng-template>

  <app-expense-number-board 
    *ngIf="showKeyBoard"
    [amount]="enteredAmount"
    [currency]="currency"
    [description]="description"
    (amountChange)="onAmountChange($event)"
    (currencyChange)="onCurrencyChange($event)"
    (descriptionChange)="onDescriptionChange($event)"
    (numberBoardSwipeDown)="onNumberBoardSwipeDown()"
    (numberBoardSwipeLeft)="onNumberBoardSwipeLeft()"
    (numberBoardSwipeRight)="onNumberBoardSwipeRight()"
    >
  </app-expense-number-board>

</div>
