<div class="expense-container">
  <!-- Top Section -->
  <div class="top-bar">
    <div class="daily-expense">5 000 $ - 229 500 ₽</div>
    <div class="time-icon">
      <fa-icon [icon]="faClock"></fa-icon>
    </div>
  </div>

  <!-- Category Icons -->
  <div class="categories">
    <div class="category" *ngFor="let category of categories">
      <fa-icon [icon]="category.icon" size="2x"></fa-icon>
      <span>{{ category.name }}</span>
    </div>
  </div>

  <!-- Add Expense Button -->
  <div class="add-expense-button">
    <button>
      <fa-icon [icon]="faPlus"></fa-icon>
    </button>
  </div>

  <!-- Number Pad -->
  <div class="number-pad">
    <div class="number" *ngFor="let number of numbers" (click)="addDigit(number)">
      {{ number }}
    </div>
    <div class="delete" (click)="deleteDigit()">
      <fa-icon [icon]="faBackspace"></fa-icon>
    </div>
  </div>
</div>
