.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  // flex-direction: column;
  height: 100dvh;
  // overflow: hidden;
  // justify-content: space-between;
  user-select: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 72px;
  background-color: #f8d7da;
  margin-bottom: 15px;
}

.menu-icon,
.clock-icon {
  font-size: 24px;
}

.expense-info {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #ff6f61;
}

.title {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;

  &-total {
    font-size: 27px;
  }
}

.add-expense {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background-color: #ff6f61;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-self: center;
  margin: 20px 0;
}

.number-board {
  background-color: #f8d7da;
  // overflow: hidden;
  height: 287px;
}

.number-board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding: 12px;
  position: relative;
  border: #fff 1px solid;
}

.number-board-header input {
  flex: 1;
  text-align: center;
  border: none;
  background: none;
  font-size: 18px;
  outline: none;
}

.number-board-body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d7da;
  border: #fff 1px solid;
  font-size: 24px;
  padding: 15px;
  overflow: hidden;
}

.number i {
  font-size: 24px;
}
