<div class="statistics">
  <app-date-filter
    class="statistics-filter"
    [value]="currentFilter"
    [defaultValue]="initialFilterValue"
    (changeFilter)="onFilterChange($event)"
  ></app-date-filter>
  <div style="width: 100%; height: 200px">
    <div id="donut-chart" style="width: 100%; height: 100%"></div>
  </div>
  <hr class="statistics-separator" />
  <span class="statistic-category-label">
    Категории:
    <span *ngIf="excludedCategories?.length > 0">
      (За исключением
      <span class="statistic-excluded-category">{{
        excludedCategories | categoryListName
      }}</span
      >)
      <i
        (click)="onRefresh()"
        class="fas fa-redo-alt statistic-refresh-button"
      ></i>
    </span>
  </span>
  <span class="statistics-checkbox">
    <input
      type="checkbox"
      value="regular"
      id="category-regular"
      class="statistics-checkbox-input"
      [checked]="true"
      [(ngModel)]="regularCategoriesCheckboxValue"
      (ngModelChange)="onRegularCategoriesCheckboxClick($event)"
    />
    <label for="category-regular"
      >Регулярное <span style="color: grey">({{ regularAmount }}€)</span></label
    >
    <input
      type="checkbox"
      value="irregular"
      id="category-irregular"
      class="statistics-checkbox-input"
      [checked]="true"
      [(ngModel)]="irregularCategoriesCheckboxValue"
      (ngModelChange)="onIrregularCategoriesCheckboxClick($event)"
    />
    <label for="category-irregular"
      >Нерегулярное
      <span style="color: grey">({{ irregularAmount }}€)</span></label
    >
  </span>
  <app-statistics-bar
    *ngFor="let categoryTotal of categoryTotals"
    [amount]="categoryTotal.amount"
    [category]="categoryTotal.category"
    [percentage]="categoryTotal.percentage"
    (categoryLabelClick)="filterByCategory($event)"
    (detailsIconClick)="navigateToDetails($event)"
    (chartIconClick)="navigateToChart($event)"
    (close)="onBarClose($event)"
  >
  </app-statistics-bar>
  <hr
    class="statistics-separator"
    [style.margin-top.px]="'15'"
    [style.margin-bottom.px]="'15'"
  />
  <app-bar-chart
    [filter]="currentFilter"
    [expenses]="filteredExpenses"
  ></app-bar-chart>
</div>
