<div class="statistics">
  <header class="statistics-period">
    <button
      class="statistics-period-button"
      [class.statistics-period-button-active]="mode === Mode.TODAY"
      (click)="changeMode(Mode.TODAY);"
    >За сегодня
    </button>
    <button
      class="statistics-period-button"
      [class.statistics-period-button-active]="mode === Mode.WEEK"
      (click)="changeMode(Mode.WEEK);"
    >За неделю
    </button>
    <button
      class="statistics-period-button"
      [class.statistics-period-button-active]="mode === Mode.MONTH"
      (click)="changeMode(Mode.MONTH);"
    >За месяц
    </button>
  </header>
  <div class="statistics-title">Статистика по категориям {{title}}:</div>
  Всего потрачено: {{ totalAmount }}€<br/><br/>
  <div *ngFor="let categoryTotal of categoryTotals" class="category-summary">
    <div class="category-header" (click)="showCategoryDetails(categoryTotal.category)">
      <span [style.color]="'blue'">{{ getCategoryNameByIdFunc(categoryTotal.category) }}</span>
      <span>{{ categoryTotal.amount }}€</span>
    </div>
    <div *ngIf="excludedCategories?.length > 0">
      <span>(За исключением: {{ excludedCategories.join(", ") }}) </span>
      <i (click)="onRefresh()" class="fas fa-redo-alt"></i>
    </div>
    <div class="progress-bar-container" (click)="showCategoryDetails(categoryTotal.category)">
      <div
        class="progress-bar"
        [style.width.%]="categoryTotal.percentage"
        [style.backgroundColor]="categoryTotal.color"
      >
        {{ categoryTotal.percentage.toFixed(2) }}%
      </div>
    </div>
  </div>
  <app-statistics-bar
    *ngFor="let categoryTotal of categoryTotals"
    [amount]="categoryTotal.amount"
    [category]="categoryTotal.category"
    [percentage]="categoryTotal.percentage"
    [color]="categoryTotal.color"
    (close)="onBarClose($event)"
  >
  </app-statistics-bar>
</div>
